<div>
    <h3 class="text-center font-medium pt-5 pb-2">Select Habits</h3>
</div>
<div class="grid grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto items-center place-content-center border border-red-600 rounded-lg my-5 p-5">
    <div class="shadow-md rounded-lg border-red-500 text-center  flex justify-center flex-col items-center w-40 h-40 mx-auto my-5 align-middle">
        <div>
            <i class="fa-solid fa-person-walking fa-2x"></i>
        </div>
        <div class="pt-2 font-medium">
            <p>Walking</p>
        </div>
    </div>
    <div class="shadow-md rounded-lg border-red-500 text-center  flex justify-center flex-col items-center w-40 h-40 mx-auto my-5 align-middle">
        <div>
            <i class="fa-solid fa-person-walking fa-2x"></i>
        </div>
        <div class="pt-2 font-medium">
            <p>Walking</p>
        </div>
    </div>
    <div class="shadow-md rounded-lg border-red-500 text-center  flex justify-center flex-col items-center w-40 h-40 mx-auto my-5 align-middle">
        <div>
            <i class="fa-solid fa-person-walking fa-2x"></i>
        </div>
        <div class="pt-2 font-medium">
            <p>Walking</p>
        </div>
    </div>
</div>
<div class="text-center mt-10 mb-5">
    <a class="py-2 px-5 bg-blue-400 text-white rounded-md">Add Custom Habit</a>
</div>