<div class="px-5 w-1/2 mx-auto mt-10">
    <h3 class="font-medium text-xl">Profile</h3>
    <form action="/users/create-session" method="POST" class="mt-2">
        <div>
            <input type="text" class="px-4 py-2 w-full mt-3 border rounded-lg focus:outline-none" placeholder="Name" autocomplete="off">
        </div>
        <div>
            <input type="text" class="px-4 py-2 w-full mt-3 border rounded-lg focus:outline-none" placeholder="Email Id" autocomplete="off">
        </div>
        <div>
            <textarea type="text" class="px-4 py-2 w-full mt-3 border rounded-lg focus:outline-none" placeholder="Profile Created At" autocomplete="off"></textarea>
        </div>
        <div class="mt-2">
            <label class="block" for="favcolor">Profile Picture</label>
            <img src="../img/logo.png" alt="">
            <!-- <input type="color" class="" id="favcolor" value="#ff0000" autocomplete="off"> -->
        </div>
        <div class="pt-5">
            <!-- <button class="bg-[#6890EA] text-white py-2 rounded-xl w-full">Add</button> -->
            <label>Change Theme</label>
            <i class="fa-solid fa-moon fa-2x"></i>
            <i class="fa-regular fa-moon fa-2x"></i>
        </div>
    </form>
</div>