
<div class="flex md:h-screen justify-center items-center bg-[#6890EA]">
    <div class="grid grid-cols-1 lg:grid-cols-2 place-content-center items-center shadow-blue-400 shadow-2xl rounded-2xl max-w-3xl mx-auto bg-white">
      <div class="border-r p-5">
        <img src="/img/welcome.svg" class="w-[100%]" alt="habit-tracker">
      </div>
      <div>
        <div class="py-5">
            <img src="/img/logo.png" class="mx-auto" alt="habit-tracker-logo" width="100">
        </div>
        <div class="px-5">
            <div class="pb-3 text-center my-3">
                <a href="/users/auth/google" class="text-[#6890EA] text-lg font-bold border border-red-500 px-4 py-2 rounded-full w-full">Login with <i class="fa-brands fa-google"></i></a>
            </div>
        </div>
      </div>
    </div>
</div>