
<div class="flex md:h-screen justify-center items-center bg-[#6890EA]">
    <div class="grid grid-cols-1 lg:grid-cols-2 place-content-center items-center shadow-blue-400 shadow-2xl rounded-2xl max-w-3xl mx-auto bg-white">
      <div class="border-r p-5">
        <img src="/img/welcome.svg" class="w-[100%]" alt="habit-tracker">
      </div>
      <div>
        <div class="py-5">
            <img src="/img/logo.png" class="mx-auto" alt="habit-tracker-logo" width="100">
        </div>
        <div class="px-5">
            <form action="/users/create-session" method="POST">
                <div>
                    <input type="email" class="px-4 py-2 w-full mt-2 border rounded-lg focus:outline-none" placeholder="Enter your email address" autocomplete="off">
                </div>
                <div class=" w-full mt-2 border rounded-lg flex items-center">
                    <input type="password" class="w-full px-4 py-2 focus:outline-none" placeholder="Enter your password" autocomplete="off">
                    <i class="fa-regular fa-eye pr-3 invisible"></i>
                    <i class="fa-regular fa-eye-slash pr-3"></i>
                </div>
                <div class="pt-5">
                    <button class="bg-[#6890EA] text-white px-4 py-2 rounded-full w-full">Login</button>
                </div>
                <div class="pt-2">
                    <p class="text-center">OR</p>
                </div>
            </form>
            <div class="pb-3">
                <a href="/users/auth/google" class="text-[#6890EA] px-4 py-2 rounded-full w-full">Login with <i class="fa-brands fa-google"></i></a>
            </div>
        </div>
      </div>
    </div>
</div>